name: Build

on:
  push:
  pull_request:
  schedule:
    - cron: '0 18 * * sun'

jobs:
  build:
    name: ${{ matrix.distribution.image }}-${{ matrix.distribution.version }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        distribution:
          - image: minecraft-server
            version: "latest"
            platform: "linux/amd64,linux/arm/v7,linux/arm64/v8"
          - image: sql-clients
            version: "latest"
            platform: "linux/amd64,linux/arm/v7,linux/arm64/v8"
          - image: conventional-changelog
            version: "latest"
            platform: "linux/amd64,linux/arm/v7,linux/arm64/v8"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build Docker images
        run: |
          docker buildx build \
            --platform ${{ matrix.distribution.platform }} \
            --file=${{ matrix.distribution.image }}/Dockerfile \
            --tag=diodonfrost/${{ matrix.distribution.image }}:${{ matrix.distribution.version }} \
            ${{ matrix.distribution.image }}
